{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="mb-5 rounded-circle" src="{% static 'img/_M2_9020.jpg' %}" width='250px' height='250px' />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Chris Polanco</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Software Engineer</p>
    </div>
</header>

{% include "pages/resume.html" %}
{% include "pages/contact.html" %}
{% endblock %}