<section class="page-section resume" id="resume">
    <div class="container">
        <div class="section-title">
            <center>
                <h2>Resume</h2>
                <hr />
                <br />
            </center>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Chris Polanco</h4>
                    <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
                    <ul>
                        <li>Miramar, FL</li>
                        <li>chris.polanco2@gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Master of Science &amp; Software Engineer</h4>
                    <h5>Graduated, 2017</h5>
                    <p><em>University of Scranton, Scranton, PA</em></p>
                </div>
                <div class="resume-item">
                    <h4>Bachelor of Science &amp; Computer Science</h4>
                    <h5>Graduated, 2014</h5>
                    <p><em>University of Scranton, Scranton, PA</em></p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Software Engineer</h4>
                    <h5>October 2017 - January 2021</h5>
                    <p><em>Jack Henry & Associates, Remote</em></p>
                    <ul>
                        <li>Use HTML, CSS, JavaScript and PowerOn to create and modify software for Credit Unions.</li>
                        <li>Experience using Symitar-based technologies including SymForm, Goodnight processing, SymXchange.</li>
                        <li>Work with clients remotely from different time zones</li>
                        <li>Side Project - Created software with Python to automate the process of creating product folders and renaming files in our version control system.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Programmer</h4>
                    <h5>July 2015 - April 2017</h5>
                    <p><em>Valor Credit Union, Scranton, PA</em></p>
                    <ul>
                        <li>Created and managed all programs for the Credit Union as a sole programmer.</li>
                        <li>
                            Automated Wire Transfers – worked with employees to figure out steps for creating wire
                            transfers and created a program to automate steps including the creation of a form with member and bank information.
                        </li>
                        <li>Created my own questionnaire system to verify members, bringing us to code with NCUA.</li>
                        <li>Worked directly with Pentagon Federal Credit Union during the merge process to help move members and numbers from our system to theirs.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>